{% extends "layout.html" %}
{% block body %}


<div class="container-fluid mt-4">
	

  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7"  mx-5">
        <h2 class="featurette-heading">From the Desk of Founder.... <span class="text-muted">Mr. Suresh (Papu) Kalani</span></h2>
      			<p class="lead">Education is Power. It is an eye of wisdom. It helps man to stand on his feet. It helps to cope up with every difficulty of life. I believe that Education not only Widens Knowledge but can eradicate all evils of society like Dowry, Corruption, Poverty and Unemployment, If every Indian is Educated there will be no poverty in India. Government has taken a strong positive step of Free and Compulsory Education for all. The Day is not far away when India will be the Literate Country.</p>
<p class="lead">My Best wishes are with every citizen of India for their bright future especially with the town Ulhasnagar where I was born &amp; brought up, I would wish to transform/make it a peaceful &amp; loving town.</p>
      </div>



      <div class="col-md-5">
       <img src="{{ url_for('static', filename='img/pk.jpg') }}" class="img-fluid" alt="Responsive image">
      </div>
    </div>




    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 "">
        <h2 class="featurette-heading">Message from Founder Chairperson: <span class="text-muted">Mrs. Jyoti Suresh Kalani.</span></h2>
       <p class="lead">Dear Parents,</p>
<p class="lead">Education is a Light to every human Being that leads him to become a better citizen and serve his motherland.</p>
<p class="lead">Teachers play a very important role in a student’s life. It’s a teacher who guides a student through his or her career. So it is very significant to be adequately equipped with resources that will create the teacher an ideal role model to the students. To achieve this, Shaheed Dunichand Kalani Memorial Trust was formed to create Teachers to impart education.SDT Kalani College was established in the year 1990.  D.Ed. and  B.Ed. courses were introduced, which will teach a person about teaching and the different aspects associated with it.</p>
<p class="lead">Today the college provides various traditional courses like F.Y.J.C &amp; S.Y.J.C Commerce &amp; Science Faculties along with F.Y to T.Y B.Com and professional courses like BMS, B.Sc. (IT),Banking&amp; Insurance and Financial Marketing also.</p>

      </div>
      <div class="col-md-5 order-md-1">
       <img src="{{ url_for('static', filename='img/jk.jpg') }}" class="img-fluid" alt="Responsive image">
      </div>
      </div>
    </div>

    <hr class="featurette-divider">



    <div class="row featurette">
      <div class="col-md-7 mx-5">
        <h2 class="featurette-heading">Message from Chairperson.</h2>
       <p class="lead">Dear Parents,</p>
<p class="lead">Education is a Light to every human Being that leads him to become a better citizen and serve his motherland.</p>
<p class="lead">Teachers play a very important role in a student’s life. It’s a teacher who guides a student through his or her career. So it is very significant to be adequately equipped with resources that will create the teacher an ideal role model to the students. To achieve this, Shaheed Dunichand Kalani Memorial Trust was formed to create Teachers to impart education.SDT Kalani College was established in the year 1990.  D.Ed. and  B.Ed. courses were introduced, which will teach a person about teaching and the different aspects associated with it.</p>
<p class="lead">Today the college provides various traditional courses like F.Y.J.C &amp; S.Y.J.C Commerce &amp; Science Faculties along with F.Y to T.Y B.Com and professional courses like BMS, B.Sc. (IT),Banking&amp; Insurance and Financial Marketing also.</p>
      </div>
      <div class="col-md-5">
     
      </div>
    </div>

    <hr class="featurette-divider">







	</div>
{% endblock %}