{% extends "layout.html" %}
{% block body %}



<div class="container mt-4">



<h1 >Department of Computer Science 2018-2019</h1>

<hr>

<p class="lead">
Computer science is concerned with the scientific, engineering, management and mathematical issues in developing and applying software technology in the modern information world. The mission of the Department of Computer Science (CS) is to be a world leader both in education and research by conducting research that produces advancements in computer science for the benefit of society and educating students to become leaders in the development and application of computer science technology. 

Scholarships are available for select students through grants from the National Science Foundation (NSF). Read about Stevens' Scholarship for Service program to learn more.
</p>
<div>



{% endblock %}