{% extends "layout.html" %}
{% block body %}




<hr>

<div class="container mt-4">


<h2>
Our Mission</h2>
<p class="lead">The College of Education at the University of Oregon is a community of leading researchers and practitioners dedicated to transformational scholarship, integrated teaching, and collaborative practice designed to enhance individual lives and systems within a culture that values diversity and promotes respect and inclusion.
</p>
<h2>Our Purpose</h2>
<p class="lead">Our purpose is to produce scholars and practitioners who promote meaningful change in local, national, indigenous, and internal communities, to educate and support our students in the critical evaluation and adoption of science-based practices, and to accelerate multidisciplinary research to be applied innovatively within education, health, and human service organizations around the world.</p>
<h2>Our Vision</h2>
<p class="lead">Our vision is founded on excellence in research, scholarship, instruction, and practice. We seek to be a trusted resource for evidence-based innovation in the education and human development sciences. We aspire to create leaders in education and human sciences who change lives and improve outcomes for individuals and systems. </p>

  


<div>



{% endblock %}