<!doctype html>
<html lang="en">
  <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  

$(document).ready(function () {
    console.log('I am in a new file now');
    $('[data-toggle="popover"]').popover()



});


</script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <link rel="icon" href="{{ url_for('static', filename='img/kalani.png') }}">
    <title>College Site</title>
  </head>
  <body>
  
  <!-- Navbar -->
<div class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img alt="Brand" style="max-width:42px;" src="{{ url_for('static', filename='img/kalani.png') }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="/">Home</a></li>
                    

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">library</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/library">Show Book's</a>
               <a class="dropdown-item" href="/manipulate">Manipulate_Library</a>
               <a class="dropdown-item" href="/lendbook">Lend book</a>
               <a class="dropdown-item" href="/stu_show">Student tooked the book</a>
               <a class="dropdown-item" href="/return">Return Book</a>
            </div>
          </li>
  
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Department</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/it">IT Department</a>
							<a class="dropdown-item" href="/cs">CS Department</a>
						</div>
					</li>

           <li><a class="nav-link" href="/event">Events</a></li>


            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/chairman’s_message">Chairman’s Message</a>
               <a class="dropdown-item" href="/vision_and_mission">Vision and Mission</a>
                <a class="dropdown-item" href="/certification">Certification</a>
            </div>
          </li>

                    <li><a class="nav-link" href="/contact">Contact</a></li>

                    <li><a class="nav-link" href="/news">Recent News</a></li>
                </ul>
                <ul class="navbar-nav navbar-default">
                    <li class="nav-item dropdown">
                                  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin-Panel</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/admin_login">Admin-Login</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/adminlogout">Admin Logout</a>
            </div>
          </li>

                   <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ name }}</a>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="/stu_reg">Registration For Student</a>
              <a class="dropdown-item" href="/student_login">Student-Login</a>
              <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/studentlogout">{{ name1 }} Logout</a>
            </div>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social-Media</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ params['fb_url'] }}" target=" ">Facebook_Page</a>
              <a class="dropdown-item" href="{{ params['tw_url'] }}" target=" ">Twitter_Page</a>
              <a class="dropdown-item" href="{{ params['gh_url'] }}" target=" ">Github_Page</a>
            </div>
          </li>
                </ul>
            </div>
        </nav>


    </div>

 <!-- carousel -->
<div class="container-fluid px-0">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='img/sdt.jpg') }}" class="d-block w-100" alt="First slide" width="1146px" height="535px">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/sdt1.jpg') }}" class="d-block w-100" alt="Second slide" width="1146px" height="535px">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/sdt2.jpg') }}" class="d-block w-100" alt="Third slide" width="1146px" height="535px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
  


<div class="container mt-4">




<h1>Guidelines for admission to BSc.IT</h1>
<h2>BACHELOR OF SCIENCE – INFORMATION TECHNOLOGY (B.Sc.IT)</h2>

<hr>

<p class="lead">COURSE STRUCTURE:</p>
<hr>

<strong><h>FIRST YEAR<h></strong>
	<hr>
	<div class="row  py-4">
      <div class="card col-md-3 mx-auto px-3" style="width: 18rem;">
  <div class="d-flex card-header justify-content-center">Sem 1</div>
  <div class="card-body">
    <h5 class="card-title">Subject's</h5>
    <p class="card-text">1.Imperative programming<br>
						2.PCS<br>
						3.Math<br>
						4.Digital electronic<br>
						5.Operating System</p>
  </div>
</div>
<div class="card col-md-3 mx-auto px-3" style="width: 18rem;">
      
  <div class="d-flex card-header justify-content-center">Sem 2</div>
  <div class="card-body">
    <h5 class="card-title">Subject's</h5>
    <p class="card-text">1.Object oriented Programming<br>
						2.Web Programming<br>
						3.Math<br>
						4.microprocessor<br>
						5.Green Computing</p>
  </div>
</div>

</div>
<hr>
<strong><h>SECOND YEAR<h></strong>
	<hr>
	<div class="row  py-4">
      <div class="card col-md-3 mx-auto px-3" style="width: 18rem;">
  <div class="d-flex card-header justify-content-center">Sem 3</div>
  <div class="card-body">
    <h5 class="card-title">Subject's</h5>
    <p class="card-text">1.CN<br>
						2.Python<br>
						3.Math<br>
						4.Data Structure<br>
						5.DBMS</p>
  </div>
</div>
<div class="card col-md-3 mx-auto px-3" style="width: 18rem;">
      
  <div class="d-flex card-header justify-content-center">Sem 4</div>
  <div class="card-body">
   <h5 class="card-title">Subject's</h5>
    <p class="card-text">1.Java<br>
						2.Computer Graphics<br>
						3.Math<br>
						4.Software Engineering<br>
						5.Embedded System</p>
  </div>
</div>

</div>
<hr>
<strong><h>THIRD YEAR<h></strong>
	<hr>
	<div class="row  py-4">
      <div class="card col-md-3 mx-auto px-3" style="width: 18rem;">
  <div class="d-flex card-header justify-content-center">Sem 5</div>
  <div class="card-body">
    <h5 class="card-title">Subject's</h5>
    <p class="card-text">1.Advance Java<br>
						2.Advanced Web Programming<br>
						3.IOT<br>
						4.AI<br>
						5.SPM</p>
  </div>
</div>
<div class="card col-md-3 mx-auto px-3" style="width: 18rem;">
      
  <div class="d-flex card-header justify-content-center">Sem 6</div>
  <div class="card-body">
       <h5 class="card-title">Subject's</h5>
    <p class="card-text">1.Software Quality Assurance <br>
						2.cyber Law<br>
						3.Security In computing<br>
						4.Business Intelligence<br>
						5.Geographic information System</p>
  </div>
</div>

</div>
<hr>

<p class="lead">ELIGIBILITY:</p>
<hr>

<p class="lead">
Candidates who have passed Diploma in Computer Engineering / Computer Science / Computer Technology / Information Technology / Electrical, Electronics &amp; Video Engineering and Allied Branches/ Mechanical and Allied branches, Civil and Allied branches of Engineering after S.S.C. (Xth standard) are eligible for direct admission to the Second Year of the B.Sc. (I.T.) degree course. However, the Diploma should be recognized by the Maharashtra State Board of Technical Education or any other recognized Government body. Minimum marks required 45% aggregate for open category candidates and 40% aggregate for reserved category candidates.&nbsp; 

</p>

<hr>

		</div> 

  

  <!-- footer -->
<br><br><br><br>
<hr>
<footer class="container-fluid bg-white text-dark">
	<div class="row">
	<div class="col lg-12">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 college website &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	
		</div>
		
		</div>
	
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>