{% extends "layout.html" %}
{% block body %}

<div class="container-fluid mt-4">




<a class=class="btn btn-danger" href="/addbook" role="button">addbook</a></li>

<a class=class="btn btn-danger" href="/addbook" role="button">addbook</a></li>

<a class=class="btn btn-danger" href="/addbook" role="button">addbook</a></li>

<a class=class="btn btn-danger" href="/addbook" role="button">addbook</a></li>

<a class=class="btn btn-danger" href="/addbook" role="button">addbook</a></li>


<div>



{% endblock %}