{% extends "layout.html" %}
{% block body %}


<div class="container mt-4">
    <hr class="featurette-divider">

<p class="lead">Social reformer, freedom fighter, intellect Shaheed Dunichand Tejandas Kalani was as exemplary for others. The sterling and suave personality was a real crusader. Literally speaking, he was a person par-excellence in real sense. This great personality occupied the most prestigious post as Chairmanship of Ulhasnagar Municipal School Board, President of Ulhasnagar Congress Committee. Education According to him was the indispensable instrument to eradicate all those evils and disseminate good wills among the mass. But he could not live long to see his passion of starting education institution come true.</p>
<p class="lead">His enigmatic nephew Shri Suresh (Papu) Kalani, M.L.A. who was multi dimensional personality, courageously took up the task of fulfilling the dream of his uncle and his industriousness and real enthu KALANI MEMORIAL TRUST, ULHASNAGAR in the year 1990 and registered under Bombay Public Trust Act 1950. Since 1st July, 1990 the Trust has started college of education (B.Ed and D.Ed.). It is working with wider vision of Education for all. In the very gross-root level ie. for pre-primary, primary &amp; Secondary level, Trust has started English Medium School at Ulhasnagar Camp-5 in the year 1992. Trust has got an opportunity to serve the community in general and to the students community in particular by opening Junior and Degree College of Arts, Science and Commerce in the year 2000.</p>
<p class="lead">In the year 2005 Trust has started new Courses i.e. B.M.S., B.Sc. (I.T.) and B.Sc. Computer Science to serve the student community of Ulhasnagar and neighbouring towns.</p>
<p class="lead">The glorious dreams of our Trust which are yet to be realized but are in the pipeline are law college, Engineering College and Medical College. This will take shape of full moon in the future by the ceaseless effort of our Trust. This will add many feathers to the shining glory of the Trust&#8217;s cap.</p>


    <hr class="featurette-divider">
<div>
{% endblock %}