{% extends "layout.html" %}
{% block body %}




  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Student Panel</h1>
              <span class="subheading">Student can take book from here....</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<hr>
         


          <hr>
    <!-- Main Content -->
    <div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Student Name</th>
       <th scope="col">BookName</th>
      <th scope="col">Author Name</th>
      <th scope="col">Publisher</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% set i = 1 %}
    {% for book in books %}

    <tr>
      <th scope="row">{{book.sno}}</th>
      <td>{{book.student_name}}</td>
      <td>{{book.bookname}}</td>
      <td>{{book.author}}</td>
      <td>{{book.publisher}}</td>
      <td>{{book.date}}</td>
        <td><a href="/returnbook/{{ book.sno }}"><button class="btn btn-primary" >Return Book</button></a></td>
      </tr>
      
     {% set i = i + 1 %}

     {% endfor %}
    

  </tbody>
</table>
<div class="clearfix">
          
            
            <a class="btn btn-primary float-left" href="{{prev}}"> &larr;Previous</a>
            <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
          </div>

          </div>

</div>


      
        </div>
    




            

{% endblock %}